<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--注入一个bean用于测试spring-application是否加载成功-->
    <bean id="user" class="org.pojo.User">
        <property name="id" value="1"/>
        <property name="username" value="yanbing1025"/>
        <property name="password" value="123"/>
    </bean>

</beans>